<div class="styleguide">
  <ul class="nav nav-pills">
    {% for size in sizes %}
    <li role="presentation"{% if loop.first %} class="active"{% endif %}><a href="#" class="viewport-pill" data-toggle="pill" data-trigger="{{ id }}frame" data-width="{{ size.width }}">{{ size.title }}</a></li>
    {% endfor %}
    <li role="presentation" class="dropdown pull-right">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Tools <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" class="tools-a11y" data-trigger="{{ id }}frame">Accessibility audit</a></li>
      </ul>
    </li>
  </ul>
  <div class="preview">
    <div class="btn-open">
      <a href="#" data-lity data-lity-target="{{ url }}" data-trigger="{{ id }}frame"><i class="fa fa-search-plus"></i></a>
    </div>
    <div class="preview-frame">
      <iframe id="{{ id }}frame" class="lazy" data-src="{{ url }}" style="width:{{ sizes[0].width }}"></iframe>
    </div>
  </div>
  <div class="tabs">
    <ul class="nav nav-tabs">
        {% if firstTabActive %}
        <li class="active">
            <a href="#{{ id }}markup" data-toggle="tab">HTML</a>
        </li>
        {% else %}
        <li>
          <a href="#{{ id }}markup" data-toggle="tab">HTML</a>
        </li>
        {% endif %}

        {% if js %}
        <li>
            <a href="#{{ id }}js" data-toggle="tab">JS</a>
        </li>
        {% endif %}
        {% if styles.length > 0 or scripts.length > 0 %}
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Sources <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% if styles.length > 0 %}
            <li class="dropdown-header">Styles</li>
            {% for style in styles %}
            <li><a href="#{{ id }}{{ loop.index }}styles" data-toggle="tab">{{ style.file | escape }}</a></li>
            {% endfor %}
            {% endif %}
            {% if scripts.length > 0 %}
            <li class="dropdown-header">Scripts</li>
            {% for script in scripts %}
            <li><a href="#{{ id }}{{ loop.index }}-scripts" data-toggle="tab">{{ script.file | escape }}</a></li>
            {% endfor %}
            {% endif %}
          </ul>
        </li>
        {% endif %}
    </ul>
    <div class="tab-content">
        {% if firstTabActive %}
        <div class="tab-pane active" id="{{ id }}markup">
            <pre><code class="lang-html">{{ markup | escape }}</code></pre>
        </div>
        {% else %}
        <div class="tab-pane" id="{{ id }}markup">
          <pre><code class="lang-html">{{ markup | escape }}</code></pre>
        </div>
        {% endif %}

        {% if js %}
        <div class="tab-pane" id="{{ id }}js">
            <pre><code class="lang-javascript">{{ js | escape }}</code></pre>
        </div>
        {% endif %}
        {% if styles.length > 0%}
        {% for style in styles %}
        <div class="tab-pane" id="{{ id }}{{ loop.index }}styles">
            <pre><code class="lang-scss">{{ style.content | escape }}</code></pre>
        </div>
        {% endfor %}
        {% endif %}
        {% if scripts.length > 0%}
        {% for script in scripts %}
        <div class="tab-pane" id="{{ id }}{{ loop.index }}-scripts">
            <pre><code class="lang-javascript">{{ script.content | escape }}</code></pre>
        </div>
        {% endfor %}
        {% endif %}
    </div>
  </div>
</div>
